- let list =['标题1','标题2','标题3']

header(class='h-20 flex justify-center items-center max-w-[1200px] mx-auto')
    div(class='w-1/5')
        img(class='h-[40px]' src="https://ts1.cn.mm.bing.net/th?id=OIP-C.HlxcT38HU35owfaBZHUmVwHaDt&w=177&h=170&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2")
    ul(class='flex  justify-around items-center w-4/5')
        each item in list
            li(class="block")=item