- let imgArray = ['https://wallpapers.com/images/high/a-whisker-away-miyo-cat-mask-w1m8o4e5tgasgxju.jpg','https://wallpapers.com/images/high/a-whisker-away-rainy-town-1y6ekr496ylpc2j8.jpg']
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./index.css")
        title title
    body
        div(class='layout')
            div(class='header')
                include _partial/header.pug
                +header(['标题1','标题2','标题3'],'标题1')
            div(class="content")
                div(class='banner')
                    - for(var i=0;i<imgArray.length;i++)
                        img(src=imgArray[i], alt="" class='animate_class' index=i)
            div(class="footer")
                include _partial/footer.pug
                +footer('this is footer')
        script(src="https://code.jquery.com/jquery-3.6.0.min.js") 
        script(src="./scripts/index.js") 



