@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes opacity {
    0% {opacity:0;}
    50% {opacity:1; }
    100% {opacity:0;}
}

.layout{
   @apply flex flex-col min-h-screen ;
}

.header {
    @apply w-full bg-slate-600;
}
.content {
    @apply flex-1;
}

.banner {
    @apply overflow-hidden whitespace-nowrap bg-slate-100;
}
.banner img {
    @apply w-full inline-block;
}
.animate_class {
    animation:opacity infinite ease-in-out 4s;
}


